<div class="err-container d-flex ">
    <div class="text-container d-flex justify-content-center w-100 align-items-center">
        <div class="text-body text">
        <h2>Ups!</h2>
        <h1>Error 404</h1>
        <h3>El recurso no se encuentra disponible!</h3>
        </div>
        <div class="btn-container d-flex justify-content-start w-100">
        <button type="button" class="btn text-body btn-warning btn-lg ">Volver al menú</button>
        </div>
    </div>
    <div class="image-container d-flex image w-100 justify-content-center">
        <img src="../../../assets/img/—Pngtree—group of young business people_5268220.png" alt="<a href='https://.pngtree.com/so/Grupo'>Grupo png de .pngtree.com/</a>">
    </div>
</div>